* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Pixel5x5";
    src: url("../fonts/pixel-font-5x5-webfont.woff2") format("woff2"),
        url("../fonts/pixel-font-5x5-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

:root {
    --main-bg-color: #333333;
    --secondary-bg-color: #222222;
    --drawing-container-color: #141518;
    --text-color: #EEEEEE;
    --border-color: #000000;
    --hover-color: #444444;
}

body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-color);
    -webkit-touch-callout: none; /* Safari */
        -webkit-user-select: none; /* Chrome */     
           -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; 
}

.container {
    height: 100%;
    background-color: var(--main-bg-color);
}

.sidebar {
    padding: 0 10px;
    background-color: var(--main-bg-color);
}

.sidebar h3 {
    text-align: center;
    padding: 10px;
}

.drawing-field {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.drawing-container {
    width: 100%;
    background-color: var(--drawing-container-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inner-tools {
    width: 100%;
    background-color: var(--secondary-bg-color);
    padding: 10px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.inner-tools label {
    display: flex;
    gap: 5px;
    align-items: center;
}

.tool-options {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    align-items: center;
    text-align: center;
}

.color-picker {
    width: 100%;
}

.toolbar {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--main-bg-color);
    border: 1px solid var(--border-color);
}

button {
    padding: 15px 10px;
    font-size: 1.2rem;
    border: none;
    border-radius: 2px;
    font-weight: 600;
    background-color: var(--main-bg-color);
    color: var(--text-color);
}

button, .color-picker {
    transition: 0.05s;
}

button:hover, .color-picker:hover {
    background-color: var(--hover-color);
}

.color-picker {
    height: 40px;
}

header {
    width: 100%;
}

main {
    display: flex;
    margin: 0 auto;
}

.canvas-container {
    position: relative;
    background-color: white;
}

canvas {
    border: 1px solid black;
}

canvas.layer {
    top: 0;
    left: 0;
    position: absolute;
    font-smooth: never;
    -webkit-font-smoothing: none;
}

.popup-container {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
}

.new-file-popup,
.save-popup {
    display: none;
    padding: 30px;
    position: absolute;
    background-color: #222222;
}

.save-file {
    padding: 7px;
}

.close-popup {
    background-color: rgba(0, 0, 0, 0);
    color: #cccccc;
    border: 0;
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px;
}

.file-name {
    width: 150px;
    padding: 5px;
    font-size: 1.2rem;
}

.file-ext {
    width: 50px;
    padding: 5px;
    font-size: 1.2rem;
}

.brush-range, .font-range, .spray-range {
    cursor: pointer;
}

.new-file-popup {
    color: #cccccc;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.button-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.selected-area {
    display: none;
    position: absolute;
    cursor: move;
    top: 0;
    left: 0;
}

.select-btn-container {
    height: inherit;
    display: flex;
    flex-direction: column;
    margin-left: -60px;
    width: 60px;
}

.select-btn {
    font-size: 0.8rem;
}

.tool-option-name {
    font-weight: bold;
}